//$color-primary:							#43becc;
$color-primary:							#ff6600;
$color-text: 							#666;
$color-heading:							#666;
$color-muted: 							#999;
$color-success: 						#5fc566;
$color-danger: 							#fa726c;
$color-warning: 						#ffc12b;
$color-info: 							#309dd4;
$border-color: 							#ddd;  
$border-color-light:				    #e6e6e6;
$background-light: 					    #f8f8f8;
$background-dark: 					    #4c4f49;

$header-primary-text: #fff;

$docker-blue: #134a6a;
  $docker-blue-light: #22b8eb;

$docker-blue-text: #22b8eb;

$appelsinugulur1: #ff6600;
$appelsinugulur2: #8D4622;
$hvitur: #FFFFFF;
$blar1: #ACAFC3;
$blar2: #567A90;
$blar3: #132060;
$blar4: #2a2b59;
$blar5: #273355;
$svartur: #000000;